@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic';
}

#head h1{
  display: flex;
  height: 100px;
  background-color: cornflowerblue;

  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

form {
  height: 30px;
  display: flex;
  justify-content: space-between;
}

form > * {
  max-height: 100%;
  font-size: 1.2rem;
}

form input {
  width: 70%;
}

form input[type="submit"] {
  width: 20%;
  border: 2px solid darkgray;
  border-radius: 5px;

  color: black;
  background-color: white;

  font-weight: 700;

  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #40a5c7;
}

#task-count {
  margin-top: 20px;
  padding: 5px;
  background-color: darkseagreen;

  font-weight: 700;
  font-size: 1.3rem;
}

.todo-list {
  margin-top: 20px;
  width: 700px;
  height: 100%;
  list-style: none;
  
  border-style: solid;
  border-width: 3px 0px 3px 0px;
}

.todo-list li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.todo-list .letter, .todo-list input {
  font-size: 25px;
  width: 55%;
  word-wrap: break-word;
}

.todo-list input {
  height: 28px;
  display: none;
}

/* =========== edit 버튼 누른 경우 =========== */

.editable .letter {
  display: none;
}

.editable input {
  display: block;
  border: solid 1px black;
}
/* ========================================== */

.btn-wrapper {
  width: 40%;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
}

.btn-wrapper button {
  justify-content: flex-end;

  top: 0;
  padding: 0 5px;
  height: 100%;

  align-items: center;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  
  outline: none;          /* 클릭시 나오는 보더 데코레이터 삭제 */
  border: none;
  
  cursor: pointer;
}

.btn-wrapper span {
  width: 100%;
  justify-content: flex-end;
}

[name='done'] {
  background-color: orange;
}

.done [name='done'] {
  background-color: green;
}

[name='edit'] {
  background-color: #0F4C81;
}

[name='delete'] {
  background-color: #D92121;
}

.done .letter{
  color: gray;
  text-decoration: line-through;
  text-decoration-color: black;
}

.letter:hover {
  background-color: gainsboro;
}